SOURCE: https://www.rsu5.org/fs/resource-manager/view/cd833785-548a-4c17-b43b-6cac2d4d8495
SECTION: /board-of-directors-and-policies/adopted-policies-and-procedures
TITLE: DJ-Bidding:Purchasing Requirements.pdf
TYPE: Finalsite-PDF
============================================================

NEPN/NSBA Code:DJ
BIDDING/PURCHASINGREQUIREMENTS
TheBoard of Directorsexpect all purchasesmade bythe schoolunit tobeconsistent with
applicable lawsandsound businesspractices. TheSuperintendent shallberesponsiblefor
developingand implementingadministrativeproceduresfor bidding andpurchasing consistent
with thispolicy.
This policyisintendedsolely asaninternal guide topurchasingbythe school unit.It doesnot
afford any vendorany propertyor contractualrightsagainst theschool unit. No vendor shall
haveany enforceablerights againsttheschool unit baseduponthis policy oralleged violationsof
this policy. Novendor shall haveany rightsagainstthe schoolunit until suchtimeas awritten
contract betweenthevendor andthe schoolunit isexecuted bythevendor andanauthorized
representative of theschoolunit.
I. Bidding/PurchasingRequired by Law
A. MaineLaw
Mainelawrequiresthe Boardtocompetitively bidpropertyand casualty
insurance;school busandtransportation contractsinexcess of$4,000;school
building construction, alterationsand repairsover$250,000(except contractsfor
professional architecturalandengineering services); andbondanticipationnotes
for state-subsidizedschool constructionprojects andleasepurchase financings of
buildingswhoselease purchasecostsqualifyfor state subsidy.
B. Procurement Methods for FederallyFunded Contracts
TheSuperintendent ortheir designeeshallberesponsiblefor developing,
updating asnecessary, andimplementingwritten administrativeprocedures
(hereafter,the“Federal ProcurementManual”) togovern theprocurementand
purchaseof property,goods, andservicesusingany federalawardthat is subject
to theUniformGrant Guidance, codifiedat 2CFRPart 200(“UGGFederal
Award”).TheFederalProcurementManualshallbe consistentwith allapplicable
federallaws andrules.
A “federalaward”is anyfederalfinancialassistance(including
cost-reimbursementcontracts) that aschool unitreceiveseither directlyfrom a
federalagency orindirectlyfrom apass-throughentitysuchas theState education
department(2 CFR§200.38). Most, butnotall, federalawardsreceived bya
school unitaresubject totheUniform GrantGuidance. Toconfirm whethera
federalaward issubject totheUniform GrantGuidance, it willbenecessaryto
reviewthetermsandconditions ofthe applicablegrantagreementor cooperative
agreementandthe applicabilityprovisions ofthe UniformGrant Guidance,
codifiedat2CFR §200.101
Notwithstandingany policyprovision tothecontrary, theprocurement and
purchaseof property,goods, andservicesusinga UGGFederalAward,in whole
RSUNo. 5SchoolDepartment
Page1of4

NEPN/NSBA Code:DJ
or in part,must complywith theFederalProcurementManual. Whereverthis
policy or any ofthe schoolunit’sadministrativeproceduresareinconsistentwith
federallaws orrules,the provisionsof thefederallaws orrules shallcontrol.
II. Bidding/PurchasingNot Requiredby Law
Where bidding isnot requiredbylaw,it shallbethe policyof theschool unit to
competitivelybid purchasesof equipment,supplies,materials orservicesover
$100,000providedthat itis practicalandcost-effective tospecify thematerials or
serviceswithsufficient particularitytoallowmeaningful comparison ofbids.
If competitivebidding isnotutilized, theSuperintendent may seekRequests for
Proposals (RFP)for purchases over $25,000.An RFP identifiestheneed the
school unitintendsto meet,butpermits thevendor toproposethe mannerin
which theworkis tobeperformedand thematerials tobeused.
TheSuperintendent mayforego thecompetitivebidor RFP processfor purchases
lessthan$25,000 orwhenthey determinethatquality, expertise,timefactors,or
otherimportant considerationsoutweigh thepossible benefitsof biddingor
requesting proposals. In each suchcase,the Boardshallbeinformed ofthe
Superintendent’sdecision andthereasons for itin advanceofentering intoa
contract.
III. Procedures forBiddingand RequestingProposals
Themethod ofnotification thatthe school unituses tosolicit bidsandproposals
shallbe reasonablydesignedtoattractqualified vendors. Depending uponthe
circumstances,such notificationmayincludepublic advertising,mailing/emailing
of notices topotential vendorsand/ortelephonecallstopotential vendors(in the
caseof RFPs).
Competitive Bid Procedures
Unless other bidproceduresarerequired bylaw,theschool unit shallusethe
following procedureswhensoliciting competitivebids:
A. Solicitation. Thesolicitationshallspecify thedeadlinefor submitting bids
andthe timeandplaceof bidopening. Bid alternates shallbepermittedat
thediscretion ofthe Superintendent. Thenoticeshallreservethe right of
theschoolunit toreject anyor allbids, andtowaive technical or
immaterial non-conformitiesinbids if inthebest interestof theschool
unit, andtoexercisejudgmentinevaluating bids.
B. Writtenbids. Bidsshallbe inwriting, sealedwithan outsideenvelopeor
wrapperplainlymarked “Bid,nottobeopened until (insertappropriate
date),” andmailedor filedwiththe Superintendentof theunit.
RSUNo. 5SchoolDepartment
Page2of4

NEPN/NSBA Code:DJ
C. Timeof opening. ABoard memberor employeeofthe school unitmay
notopen abiduntil theappointedtime.
D. Public opening. Atthetimeand placestatedinthe publicnotice,and
opento thepublic, all bidsshallbeopened bytheSuperintendent or,inthe
Superintendent’sabsence ordisability, byanyBoardmember designated
for the purposebytheChair ofthe BoardofDirectors.
E. Reading. If anycitizens who arenotBoardmembers oremployees ofthe
school unitor if anyrepresentativesof thepress arepresent,bids shall,at
that time,eitherbe madeavailable for examination bythem orshallbe
readaloud inamannerto beheardplainlybythose inattendance.
F. Awards.Ingeneral, theBoard willaward contractstothe lowestbidder
whichthe Superintendent andBoarddeem cansatisfactorily fulfill the
contract.
RFP Procedures
Unless other RFP proceduresarerequired bylaw,theschool unitshalluse the
following procedureswhensoliciting requests for proposals:
A. Solicitation.Thesolicitationshallspecify thedeadlinefor submitting
responses tothe RFP andthetimeand placeofproposalopening. The
solicitationshallreservethe right ofthe school unittoreject anyor all
proposals, andtowaive technicalor immaterial non-conformitiesin
proposals ifin thebest interestofthe school unit,andto exercisejudgment
in evaluating proposals.
B. WrittenProposals. Proposalsshouldbe submittedinplain envelopes
clearly marked“Proposal,not tobeopened until(state timeanddate).”
TheRFP shallstatethe timeanddate that proposalsshallbeopened, and
noproposals shallbeopenedbefore that time. Publicopening isnot
required.
C. Evaluation and Awards.Proposals aretobeevaluated basedoncriteria
appropriatefor the projectin question,andthecontract will beawardedto
thevendorwhomthe Superintendent and/orBoarddeem bestable tomeet
therequirementsof theschool unit.
LegalReference: 5MRSA §1743-A(ALL)
20-A MRSA §§1001(14), 5401(13)(D); 5402(ALL)
20-A MRSA §1314(MSAD)
20-A MRSA §1492(RSU)
Me.DOE RuleCh.61(Rulesfor MajorCapital SchoolImprovement Projects)
RSUNo. 5SchoolDepartment
Page3of4

NEPN/NSBA Code:DJ
Me.DOE RuleCh.64(Rules for MaineSchoolFacilitiesProgram andSchool
RevolvingRenovation Fund Program)
34CFR parts74and80(Education DepartmentGeneral Administrative
Regulations(“EDGAR”)(for federalawardsmadeprior to12/26/2014)
2CFR part 200(Uniform AdministrativeRequirements)(for federalawards
made on orafter 12/26/2014)
CrossReference: DJ-R–FederalProcurementManual
DJH –PurchasingandContracting: ProcurementStaff Code ofConduct
Adopted: January 27,2010
Revised: November30,2011
Reviewed:April 30,2014
Revised: February 27,2019
Revised: April 24,2024
RSUNo. 5SchoolDepartment
Page4of4