SOURCE: https://www.rsu5.org/fs/resource-manager/view/21c1c758-630c-47db-ac20-53ec3b8176f8
SECTION: /board-of-directors-and-policies/adopted-policies-and-procedures
TITLE: EEAEA-Student Transportation Employee Requirements Training and Responsibilities.pdf
TYPE: Finalsite-PDF
============================================================

NEPN/NSBA Code: EEAEA
STUDENT TRANSPORTATION EMPLOYEE REQUIREMENTS,
TRAINING AND RESPONSIBILITIES
The Board recognizes that the safe transportation of students is of the utmost importance. This
policy lays out the requirements and responsibilities of the two categories of employees who
transport students: School Bus Drivers, and Other Employees with Student Driving
Responsibilities.
Part A School Bus Drivers
The school bus driver is responsible for safeguarding the lives of children in the performance of
their duty. The work requires physical strength, mental poise, the ability to cope effectively with
emergencies, excellent driving skills, and an ability to relate positively with students.
All school bus drivers must hold a valid school bus operator license endorsement issued by the
Maine Secretary of State. All school bus drivers are required to participate in any in-service
training provided by the school unit.
REQUIREMENTS:
A. Annual Medical Examination
All drivers operating a vehicle designed to carry 10 or more passengers must undergo an
annual physical examination as required by the Uniform School Bus Standards and
submit the completed School Bus Driver Physical Examination Form to the
Superintendent/designee. Physical examinations shall be conducted by a physician
selected by the school unit and paid for by the school unit.
Annual examinations must be completed during the month preceding the start of the
school year for regular drivers. New and substitute bus drivers must complete the
examination before beginning their driving duties.
B. Drug and Alcohol Testing
School bus drivers will participate in drug and alcohol testing as required by applicable
federal and state laws.
C. Annual Motor Vehicle Records Check
Each school bus driver operating a vehicle carrying 10 or more passengers shall undergo
an annual state motor vehicle records check.
Part B Other Employees with Student Driving Responsibilities
The Superintendent/designee is directed to obtain annual motor vehicle records checks for any
school employee who transports students as part of their regular duties. A list of these
pre-approved employees must be kept by the Superintendent/designee.
RSU No. 5 School Department
Page 1 of 2

NEPN/NSBA Code: EEAEA
Legal Reference: 49 CFR Parts 40 and 382
26 MRSA §§ 681(8)(B); 685(2); 689
Uniform School Bus Standards, 081.6
Cross Reference: EEAEAA- Drug and Alcohol Testing of Bus Drivers
EEAEAA-R - Drug and Alcohol Testing of Bus Drivers –
Administrative Procedure
Adopted: April 28, 2010
Reviewed: December 14, 2011
Revised: January 25, 2017
Revised: March 12, 2025
RSU No. 5 School Department
Page 2 of 2