SOURCE: https://www.rsu5.org/fs/resource-manager/view/053453f1-f14d-4d9a-9e25-9df58af2b840
SECTION: /board-of-directors-and-policies/adopted-policies-and-procedures
TITLE: IKF-Graduation Requirements.pdf
TYPE: Finalsite-PDF
============================================================

NEPN/NSBA Code: IKF
GRADUATION REQUIREMENTS
Before entering high school, students need to know the standards for attaining a high school
diploma in order to plan an appropriate, sequential, educational program to meet that goal.
Having some flexibility with credit requirements allows students to pursue unique and alternative
pathways for learning. Learning is personalized to challenge students and explore their passions.
Students choose from a variety of diverse and engaging experiences, including opportunities for
active, experiential, real-world learning.
The Superintendent, through the high school principal or other designee, shall be responsible for
making accurate information concerning diploma requirements available to incoming students
and their parents prior to the start of their ninth grade school year, and as soon as practicable
when there is any change in State-imposed standards that must be met before students may be
awarded a high school diploma. A copy of this policy will be disseminated to all incoming ninth
grade students at the time of course selection and will also be included in every edition of the
high school student handbook.
The school unit’s instructional program is aligned with the standards of Maine’s system of
Learning Results. A diploma from Freeport High School signifies that the graduate has
completed the requirements described in Maine law and Board policy and that they are ready to
enter a postsecondary educational program or a career as a clear and effective communicator, a
self-directed and life-long learner, a creative and practical problem solver, a responsible and
involved citizen and an informed and integrative thinker.
Students earn credits toward graduation through successful completion of courses/ learning
experiences as specified in this policy.
The Board has approved the following schedule of minimum requirements for graduation, which
includes requirements specified by the State of Maine.
The Board expects the Superintendent/designee to inform students and parents/guardians as soon
as practicable of any additional State-imposed standards that must be met before students may be
awarded a high school diploma.
Students must be enrolled in a minimum of the equivalent of six full credits or integrated
equivalents in each of their high school years.
I. ACADEMIC REQUIREMENTS FOR AN RSU No. 5 DIPLOMA
The student must successfully complete a minimum of 20 full year courses/learning
experiences.
A. Total course requirements include the 11 credits set forth in 20-A MRSA
§4722(2), 1.5 credits set forth in DOE rule chapter 127.7.0, and an additional 7.5
credits. They are specified below.
1. English/language arts – 4 credits
2. Mathematics – 4 credits
RSU No. 5 Sch ool Department
Page 1 of 5

NEPN/NSBA Code: IKF
3. Social studies and history, including American history, government,
civics, and personal finance – 3 credits
4. Science, including at least one year each of Earth Science, Biology and a
physical science – 3 credits
5. Fine arts, which may include art, music, forensics or drama – 1 credit
6. Physical education - 1 credit
7. Health - .5 credit
8. World Language - 1 credit *
9. Electives - 2.5 credits
*May apply for a waiver to substitute with an elective credit for special
circumstances. Must have sound rationale and administrative, World Language
department and parent approval as part of the waiver process.
B. The student must demonstrate computer skills according to the RSU No. 5
standards for computer literacy, proficiency, and performance.
C. The remaining courses/learning experiences may be selected by the student based
on his/her interest, satisfaction of course prerequisites, and requirements of the
field that they plan to enter upon graduation.
II. MULTIPLE PATHWAYS: ALTERNATIVE METHODS OF EARNING CREDITS
Students may also opt to earn credits toward a high school diploma through multiple
additional pathways including:
Early college/dual enrollment courses
Career and technical education programming
Online/virtual learning
Apprenticeships, internships, and/or field work
Community service
Exchange programs
Independent study
Alternative education
Adult education
RSU No. 5 Sch ool Department
Page 2 of 5

NEPN/NSBA Code: IKF
Each pathway must provide a quality learning experience comparable in rigor to the school
unit’s own educational offerings.
In order to pursue one or more of the multiple/alternative pathways, a student must have a
written plan detailing how the student will demonstrate achievement toward the
graduation credit. The plan must be approved by the Guidance Counselor, and/or
Principal.
III. STUDENTS RECEIVING SPECIAL EDUCATION SERVICES
All secondary students must achieve the content standards of the parameters for essential
instruction of the system of Learning Results and graduation requirements established
pursuant to Maine law. A student with a disability, as defined in 20-A MRSA § 7001(1-
B) who satisfies the local diploma requirements in the manner specified by the student’s
IEP must be awarded a high school diploma.
IV. STUDENTS IN DUAL ENROLLMENT CAREER AND TECHNICAL EDUCATION
PROGRAMS
A secondary student who has satisfactorily completed their junior and senior years in a
dual enrollment career and technical education program formed pursuant to 20-A MRSA
§6971-6975 may be eligible to receive a high school diploma from Freeport High
School.
V. ADDITIONAL CONSIDERATIONS APPLICABLE TO THE AWARDING OF A
DIPLOMA FROM FREEPORT HIGH SCHOOL
A. Transfer Students
For students who transfer to Freeport High School from another state or from an
educational program that is not required to be aligned with the content standards
of the system of Learning Results, the Freeport High School principal shall
determine the value of the student’s prior educational experience towards meeting
graduation requirements.
B. Home-Schooled Students
For previously home-schooled students wishing to receive a diploma from
Freeport High School, the principal shall determine the value of the student’s
prior educational experience toward meeting graduation credit requirements. A
home-schooled student must have been enrolled for 2 semesters as a full-time
student and be currently enrolled at Freeport High School in order to receive a
Freeport High School diploma.
C. Delayed Awarding of Diplomas
A student who leaves Freeport High School to attend an accredited, degree-
granting institution of higher education may upon satisfactory completion of the
freshman year be awarded a high school diploma, provided that the student has
notified the principal at the time of the early admission.
D. Early Awarding of Diplomas
RSU No. 5 Sch ool Department
Page 3 of 5

NEPN/NSBA Code: IKF
A student who has met the State’s and the Board’s diploma requirements in fewer
than four years of high school will be awarded a diploma.
E. Middle School Student Earning High School Credit
Middle School students successfully completing high school level courses offered
at a high school and taught by high school staff or through a program approved by
a high school administration in consultation with the appropriate department head
will be given one (1) credit for each class toward graduation.
F. Extended Study
Students are eligible for extended years of study to complete the requirements of a
diploma if they have not reached the age of 20 at the start of the school year.
Students eligible for extended years of study may be referred to adult education or
other resources suitable to young learners. Extended study for students with
disabilities shall be specified in the student’s IEP.
G Participation in Graduation Ceremony
A student must complete all Board requirements for a high school diploma in
order to participate in graduation exercises.
H. Honors and Awards at Graduation
Student academic achievements will be grouped within numerical bands and
utilized to identify, report and reward individual accomplishments for purposes of
graduation. These bands will include three Honor Bands, which will identify
those graduating seniors who at the end of the 7th semester have a Grade Point
Average of:
Summa Cum Laude (with distinction): a minimum GPA of 95.5
Summa Cum Laude (with highest honors): a minimum GPA of 92.5
Magna Cum Laude (with great honors): a minimum GPA of 88.5
Cum Laude (with honors): a minimum GPA of 84.5
Veterans of World War II, the Korean Conflict and Vietnam War Era
The School Board recognizes that Maine law provides that a secondary school may award a
high school diploma, provided that certain requirements are met, to a person who left
secondary school prior to graduation to serve in the Armed Forces during World War II or in
the Korean Conflict, or in the Armed Forces during the Vietnam era (February 28, 1961-May
7, 1975). The Board authorizes the Superintendent to develop and implement procedures
regarding applications for diplomas, including timelines, and for determining whether
veterans have met the criteria established by law. The Superintendent may also determine the
time and manner in which a veteran’s diploma may be presented.
Legal Reference: 20-A MRSA § 4502(8), 4722, 6209
Ch. 127 § 7 (Me. Dept. of Ed. Rule)
Cross Reference: IHCDA – Post-Secondary Enrollment Options
IKFB- Graduation Exercises
RSU No. 5 Sch ool Department
Page 4 of 5

NEPN/NSBA Code: IKF
Adopted: February 24, 2010
Revised: December 14, 2011
Revised: June 11, 2014
Revised: January 13, 2016
Revised: June 14, 2017
Revised: June 10, 2020
RSU No. 5 Sch ool Department
Page 5 of 5