SOURCE: https://www.rsu5.org/fs/resource-manager/view/28c1b787-7d73-45b1-9279-aa8104062120
SECTION: /board-of-directors-and-policies/adopted-policies-and-procedures
TITLE: JLCB-E-Health Requirements for Registration
TYPE: Finalsite-PDF
============================================================

JLCB-E
Durham - Freeport - Pownal
Health Requirements for Registration
(AsignatureisrequiredonallregistrationsforPre-K,KindergartenandTransferStudents)
Nameof Student __________________________________________ Entering Grade ________
Mainelawstatesupon enrollment youmustprovidea copyofthe student’scurrent
IMMUNIZATIONRECORD withdocumentedvaccine dates.
Number of Doses IMMUNIZATIONSREQUIRED
Pre-K K-12
4 5 DPT (4 If the4thdose isgiven after the4thbirthday)
3 4 OPV (3 ifthe 3rddose isgiven after the4thbirthday)
1 2 MMR (1stdose givenonor afterthe 1stbirthday)
1 2 Varicella (vaccine date, diseasedate, orblood test)
1 TDAP (Prior toentering7th grade)
2 MCV4 (1stdose priorto7thgradeand 2ndpriorto12thgrade)
Astudent whodoesnot meettheserequirements MAY NOTATTEND SCHOOL until theyprovidea
signedMEDICALEXEMPTIONfroma medicaldoctor, nursepractitioner,physicianassistant,or doctor
of osteopathy,licensedin theState ofMaine,statingthat the immunizationismedicallyinadvisable.
Additional Health FormsToBeCompleted:
● STUDENTHEALTHHISTORY /MEDICATIONPERMISSIONFORM completed
annuallybyparent/guardian for all students(or completethe demographic/healthupdate in
PowerSchool annually).
● STUDENTPHYSICALEXAM FORM-completed &signed byMD,DO,NP, orPA.
Students enteringPre-K,Kindergarten, 3rd,6th, and9thandevery2years atFHS& all
Transferstudents.
● ALLERGY/ ASTHMA /DIABETES/ SEIZUREplanupdated annuallyfor those
diagnosedwith thoseconditions.
I understandthat I amgiving written assurancethatmy childwill beimmunized within90days of
enrolling in schoolor their firstdayof school whicheverisearlier orthey willhave amedicalexemption in
writing. This 90dayoption isavailableonly oncetoeach studentduring theirschool career. Insubsequent
years,I understandthatmy child’s immunizationsormedical exemptionwill becurrent andprovidedtothe
schoolon thefirstday of theschoolyear.
_________________________________________________________________ ______________________
SignatureofParent/Guardian Date
AdministrativeProcedure: 4/10/24